<?xml version="1.0"?>
<config>
    <modules>
        <Cpcoder_Slider>
            <version>1.5.0.1</version>
        </Cpcoder_Slider>
    </modules>
    <frontend>
        <routers>
            <slider>
                <use>standard</use>
                <args>
                    <module>Cpcoder_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>
        <layout>
            <updates>
                <slider>
                    <file>slider.xml</file>
                </slider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<slider>
				<use>admin</use>
				<args>
					<module>Cpcoder_Slider</module>
					<frontName>slider</frontName>
				</args>
			</slider>
        </routers>
    </admin>
    <adminhtml>
	<menu>
		<cpcoder translate="title" module="slider">
			<title>Cpcoder</title>
			<sort_order>71</sort_order>               
			<children>
				<slider translate="title" module="slider">
					<title>Slider</title>
					<sort_order>0</sort_order>
					<children>
						<items translate="title" module="slider">
							<title>Manage Items</title>
							<sort_order>0</sort_order>
							<action>slider/adminhtml_slider</action>
						</items>
						<configuration>
							<title>Configuration</title>
							<sort_order>1</sort_order>
							<action>adminhtml/system_config/edit/section/slider</action>
						</configuration>
					</children>
				</slider>
			</children>
		</cpcoder>
	</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Cpcoder_Slider>
							<title>Slider Module</title>
							<sort_order>10</sort_order>
						</Cpcoder_Slider>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<slider>
					<file>slider.xml</file>
				</slider>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <slider>
                <class>Cpcoder_Slider_Model</class>
                <resourceModel>slider_mysql4</resourceModel>
            </slider>
            <slider_mysql4>
                <class>Cpcoder_Slider_Model_Mysql4</class>
                <entities>
                    <slider>
                        <table>slider</table>
                    </slider>
                </entities>
            </slider_mysql4>
        </models>
        <resources>
            <slider_setup>
                <setup>
                    <module>Cpcoder_Slider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slider_setup>
            <slider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slider_write>
            <slider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slider_read>
        </resources>
        <blocks>
            <slider>
                <class>Cpcoder_Slider_Block</class>
            </slider>
        </blocks>
        <helpers>
            <slider>
                <class>Cpcoder_Slider_Helper</class>
            </slider>
        </helpers>
    </global>
	<default>
		<slider>
			<slider_config>
				<enabled>1</enabled>
				<animation>animation1</animation>
				<width>640</width>
				<height>350</height>
				<speed>1000</speed>
				<interval>4000</interval>
				<qty_item>3</qty_item>
				<next_back>1</next_back>
				<nav_ctrl>1</nav_ctrl>
			</slider_config>
		</slider>
	</default>
</config>